.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.board{
  width: 100vw;
  height: 100vh;
}

.row{
  width: 100vw;
  display:flex ;
}

button{
  width:33.333vw;
  height: 33.333vh;
  border:2px solid lightslategray;
  cursor: pointer;
      font-size: 55px;
      font-family: cursive;
}
