.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.board{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap:wrap;
}
button {
  cursor:pointer;
}



header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

header > * {
  margin: 1rem;
}

header button {
  padding:.8rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  border:none;
  background-color: #f1f1f1;
}


header form {
  display: flex;
  flex-direction: column;
}

header form label { 
  margin: 5px 0;
}
header form input {
  margin: 0 1rem;
}

header .status { 
  display: block;
  margin-bottom: 2rem;
  font-family: cursive;
  font-size: 2rem;
  font-weight: bold;
}
.board{
  width:100vw;
  max-width: 450px;
  height: 100vh;
  max-height: 450px;
  margin: auto;
}

.board button {
  width:33.333%;
  height: 33.333%;
  border:2px solid lightslategray;
  font-size: 55px;
  font-family: cursive;
  flex-shrink: 0;
  background-color: inherit;
}


.winner--X {
  animation: bounce 1s linear;
}

.winner--O {
  animation: bounce 1s linear;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: transform(scale(1));
  }
  40% {
    transform: transform(scale(1.1));
  }
  60% {
    transform: transform(scale(0.9));
  }
}


